body 
    {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    background-color: lightblue;
   }
   
   
   h1, h2, h3, h4, h5, h6 
   {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-style: italic;
    color: white;
    text-align: center;
   }
   
  p, 
  li {
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
  }

